@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");

html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100vh;
}

.App {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("/images/water.jpg");
  background-size: cover;
  background-position: center;
  height: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.card {
  background-color: rgb(243, 242, 242);
  height: 35%;
  width: 40%;
  box-shadow: 10px 10px 5px gray;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 2%;
}

.advice {
  display: flex;
  align-items: center;
  height: 150px;
  font-family: "Acme", sans-serif;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  position: relative;
  background-color: #bbb5b5;
  border: 2px solid rgba(22, 76, 167, 0.6);
  cursor: pointer;
  letter-spacing: 1.5px;
  font-size: 20px;
  font-weight: 500;
  border-radius: 1rem;
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  color: rgb(43, 41, 39);
}

@media only screen and (max-width: 600px) {
  .card {
    width: 60%;
    height: 40%;
  }
}
